In [2]:
import numpy as np
import pandas as pd
import math

In [3]:
df=pd.read_table('https://storage.googleapis.com/kagglesdsdata/datasets/9590/13660/fruit_data_with_colors.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230208%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230208T153246Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=75e2d6a30161bb4703d24ca2e3b0ddad89e1838ce58a467332f08d440922b3b891cfe4bd6135244d14788da1cd337d323869b3382a0c3837b7b61e336223feeb712a50a8f33357239e0233a7fe7a4f3d3717d1d0e7c70924ca5635752478a7e1c75211b16f0c7457e8e60c2868ec46f6c60729dacd39c828b69c8411c58f0068d1a37186a2ad4fd4a7a96433e76deb58d6a10a08814cd6ec551ada61994e0c2cf5bad5c73a8afc5505adf16f58c99986e940232340368b5ab57086c1fbd15461e4afb71fa915cea8dfc2614c541fd75c21235dec89669d9e75849da572b563475f46e47660c9ad51c5d76c3a938875954066b69b91e27dfa8a12dd98a95e2336')

In [4]:
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [5]:
df.describe()

       fruit_label        mass      width     height  color_score
count    59.000000   59.000000  59.000000  59.000000    59.000000
mean      2.542373  163.118644   7.105085   7.693220     0.762881
std       1.208048   55.018832   0.816938   1.361017     0.076857
min       1.000000   76.000000   5.800000   4.000000     0.550000
25%       1.000000  140.000000   6.600000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  177.000000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000

In [6]:
labels = dict(zip(df.fruit_label.unique(), df.fruit_name.unique()))

In [7]:
df['fruit_name'].value_counts()

apple       19
orange      19
lemon       16
mandarin     5
Name: fruit_name, dtype: int64

In [8]:
#KNN
xq = df.sample()

In [9]:
# dropping the xq from data using index value
df.drop(xq.index, inplace=True)

In [10]:
xq_final = pd.DataFrame(xq[['mass', 'width', 'height', 'color_score']])

In [11]:
xq_final

    mass  width  height  color_score
17   168    7.5     7.6         0.73

In [12]:
# calculating ecludian distance
def Edistance(x):      
    a = x.to_numpy()
    b = xq_final.to_numpy()    
    distance = math.sqrt(sum([(a - b) ** 2 for a, b in zip(a, b[0])]))
    return distance

In [14]:
# calculating distance
df['distance'] = df[['mass', 'width', 'height', 'color_score']].apply(Edistance, axis=1)

In [15]:
#sorting the values based on distance
df_sort = df.sort_values('distance',ascending=True)

In [16]:
# taking top 3 records because k is 3
df_after_sort = df_sort.head(3)

In [17]:
df_after_sort.reset_index()

,index,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score,distance
0,23,1,apple,cripps_pink,170,7.6,7.9,0.88,2.030394
1,10,1,apple,braeburn,166,6.9,7.3,0.93,2.118962
2,13,1,apple,golden_delicious,164,7.3,7.7,0.70,4.006357

In [18]:
df_after_sort.iloc[0]

fruit_label                1
fruit_name             apple
fruit_subtype    cripps_pink
mass                     170
width                    7.6
height                   7.9
color_score             0.88
distance            2.030394
Name: 23, dtype: object

In [19]:
count = [0 for i in range(0, len(df['fruit_label'].unique()))]
for xi in range(0, len(df_after_sort)):       
    if df_after_sort.iloc[xi]['fruit_label'] == 1:        
        count[0] = count[0]+1
    elif df_after_sort.iloc[xi]['fruit_label'] == 2:        
        count[1] = count[1]+1
    elif df_after_sort.iloc[xi]['fruit_label'] == 3:        
        count[2] = count[2]+1
    elif df_after_sort.iloc[xi]['fruit_label'] == 4:        
        count[3] = count[3]+1

In [20]:
def max_num_in_list_label(list):
    maxpos = list.index(max(list)) +1
    return labels[maxpos]

In [21]:
#getting the label and verifying with the class label in xq
if max_num_in_list_label(count) in xq.values:
    print("success")
else:
    print("not success")

success